/Assignment 2/nbproject/private/
/Assignment 2/build/
/Assignment 2/dist/
/Assignment 3/nbproject/private/
/Assignment 3/build/
/NavBar/nbproject/private/
/NavBar/build/
/Home/nbproject/private/
/Home/build/
/test/nbproject/private/
/Assignment_3/dist/
/Home/dist/