/Assignment_2/nbproject/private/
/Assignment_2/build/
/Assignment_2/dist/
/Assignment_3/nbproject/private/
/Assignment_3/build/
/Assignment_3/dist/
/Home/nbproject/private/
/Home/build/
/Home/dist/
/FYPSystem/nbproject/private/
/FYPSystem/build/
/FYPSystem/dist/

# Class Files #
*.class
/Course File Management System/nbproject/private/